.cta__net {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  font-size: var(--h1-font-size);
  color: var(--first-color);
  gap: 30px;
}
.cta__net a {
  color: var(--first-color);
}
@media screen and (max-width: 1024px) {
  .cta__net {
    justify-content: center;
    align-items: center;
    font-size: var(--h2-font-size);
  }
}
